.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#content {
  width: fit-content;
  padding: 20px 70px 20px 70px;
  border: 1px solid;
  border-radius: 5px;
  margin: auto auto;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
td {
  padding: 10px;
  padding-right: 20px;
  text-align: left;
  vertical-align: bottom;
}
label{
  font-family: 'Times New Roman', Times, serif;
}

button {
  background-color: white;
  border-radius: 10px;
}

nav.custom-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.custom-navbar li {
  float: left;
}

nav.custom-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 li a:hover {
  background-color: #111;
}

nav.custom-navbar-light ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid rgb(118, 114, 114);
}

nav.custom-navbar-light li {
  float: left;
}

nav.custom-navbar-light li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.custom-navbar-light li a:hover {
  background-color: rgb(118, 114, 114);
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
